@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";

}
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@

@*<h2>@Model.ControllerName</h2>
<h2>@Model.ActionName</h2>
<h2>@Model.Exception.Message</h2>*@
<h2>Oopss!!Something went wrong!!</h2>
<br />
<h3> Please Contact ADMIN</h3>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

