@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <ul>
        <li>  Features of Internet Banking</li>
        <li>Check Account Statement</li>
        <li>    Payments using Net Banking</li>

    </ul>



    <li>
        Transfer Funds
    </li>
        Open a Fixed Deposit
        Pay Utility Bills
        Open Deposits
        Recharge prepaid mobile/DTH and a lot more.
        Buy General Insurance
        Pay Taxes
        Order Cheque Book
        Track your Deliverables
        And many more financial and non-financial services
</p>
