
@{
    ViewBag.Title = "RegistrationSuccessful";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />
    <h2 style="text-align:center">You've been successfully registered! Thank You!!!</h2>
    <br />
    <br />
    <div class="form-group" style="text-align:center">
        <div class="col-md-offset-2 col-md-10" style="text-align:center">
            <input type="submit" value="Go to Home Page" class="btn-info" style="text-align:center" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

}

