

@using Rash_Airlines.Models
@model IEnumerable<display_ticket_Result>
@{
    ViewBag.Title = "Show Tickets";
    Layout = "~/Views/Shared/_Logged_layout.cshtml";
}

@using (Html.BeginForm())
{

<div style="background-image:url('../../images/fly9.jpg');height:500px;">
    <h1 style="text-align:center;color:white"> Search Ticket Details</h1>
    <div action="#" class="form-row" @*method="post"*@ novalidate="novalidate" >
        <div class="row" style="background-color:white;margin-left:50px;margin-top:60px;padding:40px;background-color:rgba(0, 0, 0, 0.47)">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-left:500px;margin-top:40px">
                        <p style="font-weight:bold;color:white">BOOKING ID</p>@Html.TextBox("booking_id")

                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-left:460px;margin-top:50px">
                    <input type="submit" value="Search" class="btn btn-danger wrn-btn" />
                    @*<button type="button" class="btn btn-danger wrn-btn">Search</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
}

