@{
    ViewBag.Title = "About";
}

<style>
    .leftimg {
        clip-path: polygon(0 0, 80% 0, 55% 100%, 0% 100%);
        width: auto;
        margin-left: 1px;
    }
    /*.rightimg {
                     clip-path: polygon(69% 4%, 100% 1%, 100% 100%, 50% 100%);
                 }*/




</style>


<div class="row">
    <div class="col-lg-8 pull-left"><img class="leftimg" src="~/images/fly8.gif" /></div>
    <div class="col-lg-4">
        <h1 style="font-family:'Comic Sans MS';color:darkblue;margin-top:120px;"> Travel your Way!<br /> </h1>
        <h3 style="font-size: 22px;font-family: 'Comic Sans MS';color:darkslategrey;margin-right:100px;">
            When we started in 2017, we set out to do things differently. We wanted to show flight options in one place, creating a simple alternative to the confusing sites that make travel feel like hard work.

            @*Fast forward to today and we’ve gone from a flight search engine to a leader in travel. We're proud that more than 1 million people across India (that's quite a few!) rely on our website to plan their Travel.*@

            Dedicated to making travel as simple as possible, we help each and every one of them find the best options across flights to make their trip perfect.
        </h3>
    </div>
</div>
