@using Microsoft.AspNet.Identity
@if (Convert.ToBoolean(Session["LoginStatus"])==true)
{
   
    <ul class="nav navbar-nav navbar-right" style="font-weight:bold; font-size:x-large">
        <li>
            @Html.ActionLink("LogOut", "LogOut", "User")
        </li>
      
    </ul>    
}
@*else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
