
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomePageBeforeLogin.cshtml";
}


<html>
<head>
    <style>
        body {
            background-image: url('../../images/images6.jpg');
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center top;
            background-attachment: fixed;
        }
        div.center{
            text-align: justify;
        } 


        h2 {
            font-family: 'Agency FB';
            color: cornflowerblue;
        }


        p {
            font-family: Arial;
            color: black;
        }

        h3 {
            font-family: 'Agency FB';
            color: cornflowerblue;
        }
    </style>


</head>
<body>
    <h2>About Us</h2>

    <align-justify></align-justify>
    <div class="center">
        <p>
            SNK Bank is a leading private sector bank in India.
            The Bank’s consolidated total assets stood at Rs.12.50 million
            at June 30, 2019. SNK Bank currently has a network of 4,882 branches and
            15,101 ATMs across India.Any SNK customer having Internet Banking facility can now
            transfer funds to a third party without beneficiary registration,
            either through mobile number or email-ID of the beneficiary.
            At the other end, the beneficiary with account of any Bank, can claim the
            fund either through State Bank mCASH Mobile App or mCASH
            link available on OnlineSBI. The recipient will receive a link
            in the SMS or email and 8 digit passcode based on the
            medium chosen by the sender.Beneficiary is required to enter
            the Account Number, IFS Code, and Passcode, Mobile number or Email address.<
            After due validations, “Real Time” funds would be transferred to desired account.
            State Bank mCASH app has two options as; “Claim: and “Favourites”.
            In “Favourites” section, customers can store account number and
            IFSC code (maximum 5 accounts) for future claims.Please provide your
            feedback for us to improve the application in future at :snkbank@gmail.com
        </p>
    </div>

    <h3><b>History</b></h3>
    <p>
        SNK Bank was originally promoted in 1994 by SNK Limited<br />
        an Indian financial institution, and was its wholly-owned subsidiary.<br />
    </p>

    <h3><b>SNK Group Companies </b></h3>
    <p>
        SNK Bank offers a wide range of banking products and financial services to corporate and<br />
        retail customers through a variety of delivery channels and through its group companies.<br />
    </p>

    <h3><b> SNK Group Companies Board of Directors</b></h3>
    <p>
        SNK Bank's Board members include eminent individuals with a wealth of experience in international business,<br />
        management consulting, banking and financial services.<br />
    </p>

    <h3><b>Investor Relations </b></h3>
    <p>  All the latest, in-depth information about SNK Bank's financial performance and business initiatives.</p>

    <h3><b> Career Opportunities </b></h3>
    <p>  Explore diverse openings with India's second-largest bank.</p>

    <h3><b> Awards </b></h3>
    <p>Time and again our innovative banking services has been recognized and rewarded world over.</p>

    <h3><b> News Room </b></h3>
    <p> Catch up with SNK Bank's latest business and social initiatives, as well as innovative product launches.</p>



    <h3><b>Corporate Social Responsibility </b></h3>
    <p>
        SNK Bank is deeply engaged in human and economic development at the national level. <br />
        The Bank works closely with SNK Foundation across diverse sectors and programs.
    </p>



    <h3><b>  SNK Bank’s CSR Policy</b></h3>



    <p> SNK Foundation for Inclusive Growth</p>

    <h3><b> Notice Board </b></h3>
    <p>
        Catch up with SNK Bank's latest communication related to Acknowledgements,<br />
        information on regulatory notices, banking ombudsman schemes and others.
    </p>
    <hr />
    <footer>
        <p>Terms of Use| &copy; @DateTime.Now.Year -SNK Bank Copyright Reserved </p>
    </footer>

</body>
</html>
