
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/HomePageBeforeLogin.cshtml";
}

<html>
<head>
    <style>
        h2 {
            font-family: 'Agency FB';
            color: blue;
        }

        body {
            background-image: url('../../images/images (3).jpg');
            background-repeat: no-repeat;
            background-size: 150% 195%;
            font-size: large;
        }
    </style>

</head>
<body>
    <h2>Contact</h2>

    <address>
        SNK Bank DLF<br />
        porur, 980500-60099<br />
        <abbr title="Phone">Phone number:</abbr>
        4545.555.0100
    </address>

    <address>
        <strong>Mail us:</strong>   <a href="snkbanking@gmail.com">snkbanking@gmail.com</a><br />

    </address>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  <br />

    <hr />
    <footer>
        <p>Terms of Use| &copy; @DateTime.Now.Year -SNK Bank Copyright Reserved </p>
    </footer>

</body>
</html>
