
@{
    ViewBag.Title = "HomeBeforeLogin";
    Layout = "~/Views/Shared/HomePageBeforeLogin.cshtml";
}
@Html.Partial("LoginLink")
@Html.Partial("HomePageBackground")

<body style="background-color:#ffffb3;">
</body>
