
@{
    ViewBag.Title = "HomePageBackground";
    Layout = "~/Views/Shared/HomePageBeforeLogin.cshtml";
}

<br />
<style>
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: blue;
        font-size: medium;
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"</li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <img src="~/Images/money.jpg" alt="Los Angeles" width="1000" height="400">
        </div>

        <div class="item ">
            <img src="~/Images/workplace.jpg" alt="Chicago" width="1100" height="500">
        </div>

        <div class="item ">
            <img src="~/Images/bank5.png" S alt="New York" width="1100" height="500">
        </div>

        <div class="item ">
            <img src="~/Images/money3.jpg" alt="Los Angeles" width="1000" height="400">
        </div>

        <div class="item ">
            <img src="~/Images/money4.jpg" alt="Chicago" width="1100" height="500">
        </div>

        <div class="item">
            <img src="~/Images/money2.jpg" alt="New York" width="1100" height="500">
        </div>

        <div class="item">
            <img src="~/Images/money5.jpg" alt="New York" width="1100" height="500">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<br />
<p>
    A bank is a financial institution that accepts deposits from the public and creates credit.[1] Lending activities can be performed either directly or indirectly through capital markets. Due to their importance in the financial stability of a country, banks are highly regulated in most countries. Most nations have institutionalized a system known as fractional reserve banking under which banks hold liquid assets equal to only a portion of their current liabilities. In addition to other regulations intended to ensure liquidity, banks are generally subject to minimum capital requirements based on an international set of capital standards, known as the Basel Accords.

    Banking in its modern sense evolved in the 14th century in the prosperous cities of Renaissance Italy but in many ways was a continuation of ideas and concepts of credit and lending that had their roots in the ancient world. In the history of banking, a number of banking dynasties – notably, the Medicis, the Fuggers, the Welsers, the Berenbergs, and the Rothschilds – have played a central role over many centuries. The oldest existing retail bank is Banca Monte dei Paschi di Siena, while the oldest existing merchant bank is Berenberg Bank.

</p>
<hr />
<footer>
    <p>Terms of Use| &copy; @DateTime.Now.Year -SNK Bank Copyright Reserved </p>
</footer>