
@{
    ViewBag.Title = "OTPGeneration";
    Layout = "~/Views/Shared/HomePageAfterLogin.cshtml";
}

<h2>OTPGeneration</h2>
<div>
    <form method="post"
          action="OTPGeneration">

        <input class="btn btn-primary"
               type="submit"
               value="GenerateOTP" />

    </form>
</div>
<hr />
<br/>
<footer>
    <p>Terms of Use| &copy; @DateTime.Now.Year -SNK Bank Copyright Reserved </p>
</footer>
