@{
    ViewBag.Title = "contact Page";
}
<h2>Contact Us </h2>
<!DOCTYPE html>
<html>
<head>
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <p style="color:black;font-size:24px;">
        Fasalyojana Co. Ltd.<br />
        E-8, EPIP, RIICO Industrial Area, Sitapura, Jaipur - 302022 (Raj.)<br />
        For more Assistance, Visit<br />
        http://Fasalyojana.com/
    </p>
    <br />
    <br />
    <br />
    <i class="fa fa-twitter" style="font-size:14px;color:black;">  Fasalyojana</i>
    <br />
    <i class="glyphicon glyphicon-envelope" style="font-size:14px;color:black"> Fasalyojana@lntinfotech.com</i>
    <br />
    <i class="glyphicon glyphicon-earphone" style="font-size:14px;color:black"> 0821-2456753</i>
    <br />
    <i class="fa fa-facebook" style="font-size:14px;color:black;">    Fasalyojana</i>
    <br />
    <i class="fa fa-instagram" style="font-size:14px;color:black;">   Fasalyojana</i>

</body>
</html>