
@{
    ViewBag.Title = "Congratulations";
}

<h2 style="text-align:center">Congratulations! You've cleared all levels!</h2>

<input class="btn-info" type="button" value="Go to Dashboard" onclick="@("window.location.href='" + @Url.Action("UserDashboard", "User") + "'");" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

