@{
    ViewBag.Title = "Home";
}

<h2 style="text-align:center">Home</h2>
<title>Home</title>
<div style="text-align:center">
    <br />
    <br />
    <br />
    <br />
    <input class="btn-info" type="button" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "User") + "'");" />
    <br />
    <br />
    <br />
    <br />
    <input class="btn-info" type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "User") + "'");" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>