@{
    ViewBag.Title = "UserDashboard";
}
<h2 style="text-align:center">User Dashboard</h2>
<br />
<br />
<div style="text-align:center">
    <input class="btn-info" type="button" value="Take Test" onclick="@("window.location.href='" + @Url.Action("SelectTechnology", "User") + "'");" />
    <br />
    <br />
    <br />
    <input class="btn-info" type="button" value="View Report" onclick="@("window.location.href='" + @Url.Action("ViewReport", "User") + "'");" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
