
@{
    ViewBag.Title = "TakeTest";
}

<body style="background-color:peru">
    <div style="background-color:whitesmoke;color:black;padding:40px;">


        <h2 style="color:orange">Test Instructions</h2>
        <hr>
        <p>

            <div class="container-fluid">
                <ul>
                    <li>Make sure that you answer all the questions.</li>
                    <li> There is no negative marking.</li>
                    <li>As soon as the start button is clicked,No mercy Timer will start.</li>
                    <li> You are not allowed to open more tabs,if caught test will be closed. </li>
                </ul>

            </div>
        <p><a href="@Url.Action("Start_Test","OnlineTest")" class="btn btn-primary btn-lg">Start Test &raquo;</a></p>
   
    </div>

</body>
