<script>
    window.setTimeout(function(){
        window.location.href ='http://localhost:52768/GTB/LogoDisplay';
    }, 1200);
</script>
@{
    ViewBag.Title = "Correct";
}
<head>
    <style>
        #roundedcorner {
            margin: 120px;
            background-image: linear-gradient(to bottom right,#3b6d6d,#87ceeb);
            border-radius: 25px;
            /*background: #73AD21;*/
            padding: 20px;
            width: 600px;
            height: 350px;
        }

        #guess {
            border-radius: 50%;
            height: 50%;
            width: 50%;
        }
    </style>
</head>
<center>
    <div id="roundedcorner">
        @Html.Label("Correct Answer", new { style = "font-size:30px; font-color:green" })<br /><br />
        <img src="~/Images1/correct.png" id="guess">
    </div>
</center>
@ViewBag.exception